.btn {
    padding: .8em 1.2em;
    font-size: 20px;
    text-align: center;
    border-radius: .1em;
    border: none;
    text-decoration: none;
    background-color: var(--secondary-color);
    color: #fff;
    cursor: pointer;

}
.btn.btn-hero:hover,
.btn:hover {
    background-color: var(--secondary-color2);  
    color: #fff;  
}
.btn-hero {    
    border-radius: 1.3em;
    width: 2.6em;
    padding-left: 0;
    padding-right: 0;
}