.mouse {
    display: inline-block;
    font-size: 5px;
    width: 6em;
    height: 9em;
    border: .6em solid #fff;
    border-radius: 3em;
    text-align: center;

}
.wheel {
    display: inline-block;
    width: .6em;
    height: .9em;
    background-color: #fff;
    margin-top: 2em;
    border-radius: .3em;
}