/* base */
    @import "../base/reset.css";
    @import "../base/layout.css";
    @import "../base/variables.css";

/* 3rd party components,  KAD NEGADINTU MUSU CSS COMPONENTU ZEMIAU */

/* components */
    @import "../components/button.css";
    @import "../components/clock.css";
    @import "../components/form.css";
    @import "../components/mouse.css";
    @import "../components/prgoress_bar.css";


/* costume */
.hero {
    padding-bottom: 30px;
    background-image: url(../../img/background.png);
    background-size: cover;
    background-position: center;   
    min-height: 100vh; 
    background-attachment: fixed;
}
/*  .hero . row-short*/
.row-short:first-of-type {
    text-align: center;
}
.hero .logo {
    margin-bottom: 45px;
    height: 50px;
    width: 100%;
    object-fit: contain;
    position: center;
}
.hero .main-title {  
    margin-bottom: 15px;
    font-size: 40px;
    text-transform: uppercase;

}
.hero .description {
    margin-bottom: 30px;
    color: #777;
    font-size: 18px;

}
.hero .clock {
    margin-bottom: 30px;
}
.hero .form {
    width: 90%;
    margin:0 5% 15px;
}
/* ## CONTENT ##  */

.columm > * {
    margin-bottom: 30px;
}
.columm > *:last-child {
    margin-bottom: 0;
}

 .container .content-title {

    text-transform: uppercase;
    font-size: 20px;
    line-height: 1em;   /*1em==font-size*/


}
.container .content-description {

    color: #777;
    font-size: 17px;
    

}

.content-description .link {
    color: var(--secondary-color);
    text-decoration: none;
}
.content-description .link:hover {
    text-decoration: underline;
}
.short-row > .form {

}
.columm .form > input {
    width: calc(50% - 10px);
}
/*.form > input:nth-child(2)  */
.columm .form > input:last-of-type {
    float:right;
}

.hero .form  > .link{
    color: #fff;
    border-color: currentColor;

}
.hero .form  > .link::placeholder{
    color: currentColor;      
}
.columm .form > .btn {
    float: right;
}